{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="main_account clearfix">
    <section id="center">
        <img src="{% static 'img/addmov.jpg' %}" alt="Avatar" class="banner-image">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-12">
                    <h2 class="text-Black">Contact</h2>
                </div>
            </div>
        </div>
    </section>
</div>
 
</div>

<section id="contact" class="p_3">
 <div class="container-xl">
   <div class="row contact_1 m-0 mb-5">
      <div class="col-md-4">
	   <div class="contact_1i row">
	    <div class="col-md-2">
		 <div class="contact_1il">
		  <span class="col_red fs-1"><i class="fa fa-building"></i></span>
		 </div>
		</div>
		<div class="col-md-10">
		 <div class="contact_1ir">
		  <h5>250 Six Avenue, 6th Floor Amirtha Nager, Edappally Kochi 695572-Ekm,Kerala</h5>
		  <h6 class="mb-0">Find Us</h6>
		 </div>
		</div>
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="contact_1i row">
	    <div class="col-md-2">
		 <div class="contact_1il">
		  <span class="col_red fs-1"><i class="fa fa-phone"></i></span>
		 </div>
		</div>
		<div class="col-md-10">
		 <div class="contact_1ir">
		  <h5>8589934628</h5>
		  <h6 class="mb-0">Make a call</h6>
		 </div>
		</div>
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="contact_1i row">
	    <div class="col-md-2">
		 <div class="contact_1il">
		  <span class="col_red fs-1"><i class="fa fa-envelope-o"></i></span>
		 </div>
		</div>
		<div class="col-md-10">
		 <div class="contact_1ir">
		  <h5>moviehub@gmail.com</h5>
		  <h6 class="mb-0">Drop us a line</h6>
		 </div>
		</div>
	   </div>
	  </div>
   </div>
   <div class="row contact_2">
    <div class="col-md-6">
	 <div class="contact_2l">
	     <div class="blog_1d3i row">
		  <div class="col-md-6">
		   <div class="blog_1d3il">
		    <input placeholder="Name" class="form-control" type="text">
		   </div>
		  </div>
		  <div class="col-md-6">
		   <div class="blog_1d3il">
		    <input placeholder="Enter Email" class="form-control" type="text">
		   </div>
		  </div>
		 </div>
		 <div class="blog_1d3i  row">
		  <div class="col-md-12">
		   <div class="blog_1d3il">
		    <input placeholder="Your Phone" class="form-control mt-4" type="text">
		   </div>
		  </div>
		  
		 </div>
		 <div class="blog_1d3i  row">
		  <div class="col-md-12">
		   <div class="blog_1d3il">
		    <textarea  placeholder="Write a Message" class="form-control form_text mt-4"></textarea>
			<h5 class="mt-4"><a class="button_1" href="#">Send Message </a></h5>
		   </div>
		  </div>
		  
		 </div>
	 </div>
	</div>
	<div class="col-md-6">
	 <div class="contact_2r">
	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" height="420" style="border:0; width:100%;" allowfullscreen=""></iframe>
	 </div>
	</div>
   </div>
 </div>
</section>


<!--fotter-->
<section id="footer" class="p_3 bg_dark">
	<div class="row footer_2 mt-4 pt-4">
		<div class="col-md-4">
			<div class="footer_2i">
				<h5 class="text-white">Questions? Call 0850-380-6444</h5>
				<p class="text-muted mt-3">Format for custom post types that are not book or you can use else if to specify a second post type the same way as above.</p>
				<select name="categories" class="form-select mt-4 bg-transparent w-50 rounded-0 fw-bold" required="">
					<option value="">English</option>
					<option>French</option>
					<option>Hindi</option>
					<option>American</option>
					<option>German</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<div class="footer_2i">
				<h5 class="text-uppercase col_red mb-3">Play Show</h5>
				<ul class="mb-0 row">
					<li class="col-md-12 col-6 p-0"><a class="text-muted" href="#">Play Show</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Devices</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Tips</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Contact</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Legal Notices</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Our Terms</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="footer_2i">
				<h5 class="text-uppercase col_red mb-3">SUPPORT</h5>
				<ul class="mb-0 row">
					<li class="col-md-12 col-6 p-0"><a class="text-muted" href="#">Help Center</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">FAQ</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Account</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Privacy Policy</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Media Center</a></li>
					<li class="mt-2 col-md-12 col-6 p-0"><a class="text-muted" href="#">Support</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer_2i">
				<h5 class="text-uppercase col_red mb-3">Newsletter</h5>
				<p class="text-muted mt-3">Format for custom post types that are not book or you can use else if to specify a second post type the same way as above.</p>
				<input class="form-control mt-3 bg-transparent rounded-0" placeholder="Enter Your Email" type="text">
				<h6 class="mb-0 text-uppercase mt-4"><a class="button" href="#"><i class="fa fa-location-arrow me-1"></i> SUBMIT NOW</a></h6>
			</div>
		</div>
	</div>
</section>

	<section id="footer_b">
		<div class="container-xl">
			<div class="row footer_b1 text-center">
				<div class="col-md-12">
					<p class="mb-0 text-muted">© 2024 MOVIE HUB. All Rights Reserved | Design by <a class="col_red" href=" http://www.templateonweb.com">TemplateOnWeb</a></p>
				</div>
			</div>
		</div>
	</section>

<!--footer end-->
	<script>
	window.onscroll = function() {myFunction()};

	var navbar_sticky = document.getElementById("navbar_sticky");
	var sticky = navbar_sticky.offsetTop;
	var navbar_height = document.querySelector('.navbar').offsetHeight;

	function myFunction() {
	  if (window.pageYOffset >= sticky + navbar_height) {
		navbar_sticky.classList.add("sticky")
		document.body.style.paddingTop = navbar_height + 'px';
	  } else {
		navbar_sticky.classList.remove("sticky");
		document.body.style.paddingTop = '0'
	  }
	}
	</script>
{% endblock %}
